Source: ruby-rufus-scheduler
Section: ruby
Priority: optional
Maintainer: Debian Ruby Extras Maintainers <pkg-ruby-extras-maintainers@lists.alioth.debian.org>
Uploaders:  <>
DM-Upload-Allowed: yes
Build-Depends: debhelper (>= 7.0.50~), gem2deb (>= 0.2.1)
Standards-Version: 3.9.1
#Vcs-Git: git://git.debian.org/pkg-ruby-extras/ruby-rufus-scheduler.git
#Vcs-Browser: http://git.debian.org/?p=pkg-ruby-extras/ruby-rufus-scheduler;a=summary
Homepage: http://github.com/jmettraux/rufus-scheduler
XS-Ruby-Versions: all

Package: ruby-rufus-scheduler
Architecture: all
XB-Ruby-Versions: ${ruby:Versions}, ruby-tzinfo (>= 0.3.23)
Depends: ${shlibs:Depends}, ${misc:Depends}, ruby1.8 | ruby-interpreter
# tzinfo (>= 0.3.23, runtime), rake (>= 0, development), rspec (>= 2.0, development)
Description: job scheduler for Ruby (at, cron, in and every jobs)
 job scheduler for Ruby (at, cron, in and every jobs).
